#flash
#gridWrapper
    %h1.page-title        Greg Sparks

    %h2.centered Some possibly interesting things
    .row
        .columns.first
            %p
                I am currently a Westmont College student studying Computer Science in Santa Barbara.
                My interests include a number of things such as, but certainly not limited too
                backpacking, cycling, and general outdoor fun.  I've been blessed with a good family and
                great friends to share these things with.  My highest goal is to conduct myself in a manner
                consistent with the teachings of Jesus Christ.  Have a great day.

        .columns.first.centered
            %p
                = link_to "<span>My Resume &raquo;</span>", "http://sharp-beach-46.heroku.com/pages/_resume", :class => 'mega blue button'
                = link_to "<span>Sample Work &raquo;</span>", "http://sharp-beach-46.heroku.com/pages/_cs30", :class => 'mega blue button'
                = link_to "<span>My Wall Posts &raquo;</span>", "http://sharp-beach-46.heroku.com/posts", :class => 'mega blue button'

            %p
                Please have a look at some of my other pages and feel free to communicate by posting your thoughts to the blog above
            %p
                = image_tag "kayak.PNG"

            %p
                A few of my favorite relaxation spots

            %p
                = image_tag "Desert.jpg"


            %p
                I just threw this in because it's one of my favorite places


    