#gridWrapper
    %h1.page-title Resume

    .row
        .columns.first
            %p
                = link_to "<span>Home &raquo;</span>", "http://localhost:3000/pages/_home", :class => 'medium green button'


    %h2 Computing                                  
    .row
        .columns.first
            %p
                I have been and am currently enrolled in Westmont Computer Science courses
                including CS 10, CS 30, and CS 50.  To see more you can visit each individual page.

            %p
                = link_to "<span>CS 10 &raquo;</span>", "http://localhost:3000/pages/_cs10", :class => 'medium blue button'
                = link_to "<span>CS 30 &raquo;</span>", "http://localhost:3000/pages/_cs30", :class => 'medium blue button'
                = link_to "<span>CS 50 &raquo;</span>", "http://localhost:3000/pages/_cs50", :class => 'medium blue button'
                = link_to "<span>Computer Science Dept. &raquo;</span>", "http://www.westmont.edu/_academics/departments/computer_science/", :class => 'medium blue button'
            %p
                If you'd like to see more please contact me with the information provided,
                thanks

    %h3 Work Experience
    .row
        .columns.first
            %p
                Voskuyl Library circulation
                = link_to "<span>Voskuyl Library &raquo;</span>", "http://library.westmont.edu/", :class => 'medium orange button'

            %p
                House Painter
            %p
                Alpine Search and Rescue internship
                = link_to "<span>NASAR &raquo;</span>", "http://www.nasar.org/nasar/", :class => 'medium orange button'

            %p
                Vehicle maintainence


    %h3 Education
    .row
        .columns.first
            %p
                Westmont College class of 2013, Computer Science with a possible Biology or Business
                minor
                = link_to "<span>Westmont Homepage &raquo;</span>", "http://www.westmont.edu/", :class => 'medium red button'


    %h4 Contact Information
    .row
        .columns.first
            %p
                I'd be delighted if you would send me an email at gsparks@westmont.edu'

    .row
        .columns.first
            %p
                = link_to "<span>Home &raquo;</span>", "http://localhost:3000/pages/_home", :class => 'medium green button'
        